<footer class="footer">
	<ul class="footer__content">
		<li class="footer__container ">
			<h4 class="footer__switch">Контакты</h4>
			<ul class="footer__list ">
				
				<li class="footer__item">
					<a  class="footer__link footer__link--tel" href="tel:+7 (977) 880-89-64" class="footer__item">
						+7 (977) 880-89-64
					</a>
				</li>
				<li class="footer__item">
					<a  class="footer__link" href="#">
						ежедневно с 9.00 до 22.00
					</a>
				</li>
				<li class="footer__item">
					<button class="footer__btm">
						<img src="../assets/images/tel.svg">Обратный звонок
					</button>
				</li>
				<li class="footer__item footer__item--mail">
					<a  class="footer__link" href="mailto:samovarkinmsk@yandex.ru">
						samovarkinmsk@yandex.ru
					</a>
				</li>



				<li class="footer__item">
					<button href="#" class="btm__social btm__social--vk">vk</button>
					<button href="#" class="btm__social btm__social--facebook">facebook</button>
					<button href="#" class="btm__social btm__social--instagram">instagram</button>
				</li>
			</ul>
		</li>
		<li class="footer__container">
			<h4 class="footer__switch">Каталог<button class="footer__switch__btm" href="#">button</button></h4>
			<div class="footer__list footer__list--mobile">
			<ul class="footer__list">
				
				<li class="footer__item">
					<a href="" class="footer__link">
						Чай
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Кофе
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Напитки
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Подарочные наборы
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Фарфоровые чайницы
					</a>
				</li>
				
			</ul>
			<ul class="footer__list">
				
				<li class="footer__item">
					<a href="" class="footer__link">
						Эксклюзив
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Акции
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Продукция из Вологды
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Продукция из Казахстана
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Продукция из Армении
					</a>
				</li>
				
			</ul>
		</div>
		</li>
		<li class="footer__container">
			<h4 class="footer__switch">Клиентам<button class="footer__switch__btm" href="#">button</button></h4>
			
			<ul class="footer__list footer__list--mobile">
				
				<li class="footer__item">
					<a href="" class="footer__link">
						О нас
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Доставка и оплата
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Блог
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Сертификаты
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Публичная оферта
					</a>
				</li>
				<li class="footer__item">
					<a href="" class="footer__link">
						Контакты
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<div class="footer__container__bottom">
		<div class="footer__bottom">
			© 2016-2020 интернет магазин чая Самоваркин. Все права защищены.

		</div>
	</div>
</footer>
