<header class="header">

	<!-- ---header__info--- -->
	<div class="header__info__container">
		<div class="header__info">
			<ul class="header__info__left">
				<li class="header__info__item">
					<a href="tel:+7 (977) 880-89-64" class="header__info__link">
						+7 (977) 880-89-64
					</a>
				</li>
				<li class="header__info__item ">
					<a href="#" class="header__info__link">
						ежедневно с 9.00 до 22.00
					</a>
				</li>
			</ul>
			<ul class="header__info__right">
				<li class="header__info__item">
					<a href="#" class="header__info__link">
						О нас
					</a>
				</li>
				<li class="header__info__item">
					<a href="#" class="header__info__link">
						Доставка и оплата
					</a>
				</li>
				<li class="header__info__item">
					<a href="#" class="header__info__link">
						Блог
					</a>
				</li>
				<li class="header__info__item">
					<a href="#" class="header__info__link">
						Контакты
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- -/-/-header__info--- -->

	<!-- ---header__nav--- -->
	<div class="header__nav">
		<div class="burger__seach">

			<button class="burger" type="button" id="navToggle">
				<span>Открыть навигацию</span>
			</button>

			<input class="seach__input" type="text" name="" placeholder="Поиск по каталогу">

			<button class="seach">seach</button>




		</div>

		
		<a href="#" class="logo">
			
				<img src="../assets/images/logo.svg">
				<h5>Самоваркин</h5>
		</a>
		

		<div class="basket">
			<a class="basket__link" href="#">
				
				<div class="basket__number">
					<img class="img-basket" src="../assets/images/basket.svg">
					<img class="img-basket-number" src="../assets/images/basket-number.svg">
					<p>10</p>
				</div>
				<h5>Корзина</h5>

			</a>
			
		</div>
	</div>
	<!-- -/-/-header__nav--- -->

	<!-- ---header__catalog--- -->
	<div class="header__catalog__container">
		<div class="header__catalog">
			<ul class="header__catalog__nav">
				<li class="header__catalog__nav__item"><a href="">
					<div class="burger__header__catalog">
						<span>1</span>
						<span>2</span>
						<span>3</span>
					</div>
				Весь каталог</a></li>
				<li class="header__catalog__nav__item">
					<a href="">Акции</a>
				</li>
				<li class="header__catalog__nav__item">
					<a href="">Чай</a>
				</li>
				<li class="header__catalog__nav__item">
					<a href="">Кофе</a>
				</li>
				<li class="header__catalog__nav__item">
					<a href="">Продукция из Казахстана</a>
				</li>
				<li class="header__catalog__nav__item">
					<a href="">Продукция из Вологды</a>
				</li>
				<li class="header__catalog__nav__item">
					<a href="">Напитки</a></li>
				<li class="header__catalog__nav__item">
					<a href="">Подарочные наборы</a>
				</li>
				<li class="header__catalog__nav__item">
					<a href="">Фарфоровые чайницы</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- -/-/-header__catalog--- -->


	<div class="mobile__header__catalog" id="mobile__header__catalog">
		<div>
			<ul class="header__info__left">
				<li class="header__info__item">
					<a href="tel:+7 (977) 880-89-64" class="header__info__link">
						+7 (977) 880-89-64
					</a>
				</li>
				<li class="header__info__item ">
					<a href="#" class="header__info__link">
						ежедневно с 9.00 до 22.00
					</a>
				</li>
			</ul>
			<ul class="mobile__catalog__nav">
				<li class="mobile__catalog__nav__item">
					<1></1>
				</li>
				<li class="mobile__catalog__nav__item">
					<2></2>
				</li>
				<li class="mobile__catalog__nav__item">
					<3></3>
				</li>
				<li class="mobile__catalog__nav__item">
					<4></4>
				</li>
				<li class="mobile__catalog__nav__item">
					<5></5>
				</li>
				<li class="mobile__catalog__nav__item">
					<6></6>
				</li>
				<li class="mobile__catalog__nav__item">
					<7></7>
				</li>
				<li class="mobile__catalog__nav__item">
					<8></8>
				</li>
			</ul>
		</div>
	</div>
</header>
